body {
    height: 100%;
    min-width: 320px;
    background: linear-gradient(90deg,#021048,#02B6FD);
}

a, a:visited {
    color: #666;
}

a:focus, a:hover {
    color: #333;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 43px;
    line-height: 43px;
    margin-left: 30px;
    margin-top: 18px;
    font-size: 36px;
    display: block;
    color: #000;
}

.logo .logo_img {
    height: 43px;
}

.card {
    display: flex;
    max-width: 1500px;
    margin: 5vh auto;
    border-radius: 16px;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
    overflow: hidden;
    background-color: white;
}

.slider_wrapper {
    width: 50%;
    transition: width 0.3s ease;
    flex-shrink: 0;
    overflow: hidden;
}

.side_slider {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.register_panel {
    width: 50%;
    padding: 80px 90px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.page_title {
    font-size: 44px;
    font-weight: normal;
    transition: font-size 0.3s ease;
}

.page_second_title {
    font-size: 28px;
    font-weight: normal;
    color: #333;
    transition: font-size 0.3s ease;
}

.label {
    position: relative;
    display: block;
    margin: 32px 0 16px 0;
    line-height: 40px;
    height: 40px;
    
}

.inline_text {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    padding-left: 0.5em;
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1), color 0.3s cubic-bezier(0.4,0,0.2,1);
    line-height: 40px;
    height: 40px;
}

.inline_text .text_icon {
    height: 40%;
}

.inline_text .text_icon.extra_small {
    height: 30%;
}

.inline_text.active {
    transform: translateY(-75%) !important;
}

.input {
    height: 32px;
    width: 100%;
    padding: 0.5em 0.5em;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #666;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    outline: none;
}

.input:focus {
    border-color: #328dfc;
}

.input + .inline_text {
    transform: translateY(-75%);
}

.input:invalid + .inline_text {
    transform: translateY(0);
}

.input:invalid:focus + .inline_text {
    transform: translateY(-75%);
}


.submit_btn {
    color: white;
    width: 100%;
    height: 60px;
    margin: 20px 0;
    background-color: #328dfc;
    background-image: linear-gradient(0deg,#328dfc,#3083ff);
    border-radius: 4px;
    border: 1px #328dfc solid;
    box-shadow: 0 5px 8px 0 rgba(24,95,255,.1);
    font-size: 24px;
    font-weight: normal;
    transition: height, font-size 0.3s ease;
}

.submit_btn:hover, .submit_btn:focus {
    background-color: #246dd8;
    background-image: linear-gradient(0deg,#246dd8,#2c79eb);
}

.submit_btn:active {
    background-color: #246dd8;
    background-image: linear-gradient(0deg,#246dd8,#2c79eb);
}

.autologin {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.autologin_label {
    margin-left: 0.25rem;
}

.register_link, .forget {
    display: block;
    margin-top: 1rem;
}

.securityCode_img {
    margin: 20px 0;
}