body {
    height: 100%;
    min-width: 320px;
    background: linear-gradient(270deg,#021048,#02B6FD);
}

a, a:visited {
    color: #666;
}

a:focus, a:hover {
    color: #333;
}

.logo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 43px;
    line-height: 43px;
    margin-left: 30px;
    margin-top: 18px;
    font-size: 36px;
    display: block;
    color: #000;
}

.logo .logo_img {
    height: 43px;
}

.card {
    display: flex;
    max-width: 1500px;
    margin: 5vh auto;
    border-radius: 16px;
    box-shadow: 0 4px 32px 0 rgba(10, 14, 29, .02), 0 8px 64px 0 rgba(10, 14, 29, .08);
    overflow: hidden;
    background-color: white;
}

.slider_wrapper {
    width: 50%;
    transition: width 0.3s ease;
    flex-shrink: 0;
    overflow: hidden;
}

.side_slider {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.register_panel {
    width: 50%;
    padding: 80px 90px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.page_title {
    font-size: 44px;
    font-weight: normal;
    transition: font-size 0.3s ease;
}

.page_second_title {
    font-size: 28px;
    font-weight: normal;
    color: #333;
    transition: font-size 0.3s ease;
}

.label {
    display: block;
    margin: 10px 0;
    line-height: 40px;
}

.input {
    height: 40px;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 4px;
    border: 1px solid #666;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.input:focus {
    border-color: #549df8;
}

.input:invalid {
    border-color: #ff5b5b;
}

.submit_btn {
    color: white;
    width: 100%;
    height: 60px;
    margin: 20px 0;
    background-color:#3487ff;
    background-image: linear-gradient(0deg,#398bff,#3083ff);
    border-radius: 4px;
    border: 1px #3083ff solid;
    box-shadow: 0 5px 8px 0 rgba(24,95,255,.1);
    font-size: 24px;
    font-weight: normal;
    transition: height, font-size 0.3s ease;
}

.submit_btn:hover, .submit_btn:focus {
    background-color: #3580eb;
    background-image: linear-gradient(0deg,#3580eb,#2c79eb);
}

.autologin {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.autologin_label {
    margin-left: 0.25rem;
}

.login_link, .forget {
    display: block;
    margin-top: 1rem;
}