a, a:focus, a:visited {
    color: black;
    text-decoration: none;
}

.visually_hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

header {
    position: relative;
    z-index: 2;
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    background-color: rgba(2,182,253,0.95);
    box-shadow: 0px 2px 20px 0px #666;
}

.header_wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.page_title {
    margin: 0;
}

.logo {
    height: 100%;
    margin-right: auto;
}

.logo .logo_link {
    display: block;
    height: 100%;
}

.logo_img {
    height: 100%;
}

.section_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.section_list .list_item {
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 18px;
}

.section_list .list_item .item_link {
    color: #333;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: background-color 0.1s ease;
    font-weight: bold;
}

.section_list .list_item .item_link::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #FD4902;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.section_list .list_item .item_link:focus,
.section_list .list_item .item_link:hover {
    color: #eee;
    background-color: #01a5e6;
}

.section_list .list_item .item_link:focus::after,
.section_list .list_item .item_link:hover::after {
    opacity: 1;
}

.account_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    width: 150px;
}

.account_section .account_func {
    color: #02B6FD;
    display: block;
    width: 60px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 16px;
    background-color: #333;
    font-size: 14px;
}

.account_section.hidden {
    display: none;
    /* display: flex; */
}

.account_section.with_avatar .account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border: 1px solid #666;
    border-radius: 50%;
    overflow: hidden;
}

.account_section.with_avatar .account .avatar {
    height: 100%;
}

.main_wrapper {
    margin-top: 90px;
}

.slider {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 300px;
}


.slider_wrapper {
    position: relative;
    width: 1200px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 8px;
}

.slider_btn {
    z-index: 1;
    position: absolute;
    top: 50%;
}

.prev.slider_btn {
    left: 0;
}

.next.slider_btn {
    right: 0;
}

.slider_wrapper .slider_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 300%;
    transition: transform 0.3s ease;
}

.slider_list .list_item {
    flex-shrink: 0;
    width: 1200px;
}

.slider_list .list_item .item_img {
    width: 100%;
}

.main_content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.section_title {
    font-weight: normal;
}

.content_wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}

.content_flow {
    flex: 0 0 72.5%;
}

.content_flow .section {
    margin-top: 40px;
}

.content_flow .section:first-child {
    margin-top: 0;
}

.content_flow .content_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 425px;
    list-style-type: none;
    padding: 0;
}

.content_flow .content_list .list_item {
    display: block;
    width: 30%;
    flex: 0 0 30%;
    height: 200px;
    background-color: #66ccff;
    border-radius: 16px;
    box-shadow: 0 4px 20px 0 #999;
    box-sizing: border-box;
}

.list_item .cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.list_item .bg_block {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list_item .bg_block .bg_img {
    position: relative;
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
}

.list_item .text_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #eee;
    z-index: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    /* background-color: rgba(0, 0, 0, 0.4); */
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%);
}

.list_item .text_content .item_title {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    height: 28px;
    line-height: 28px;
    margin: 0.5rem 0;
    transition: transform 0.3s ease;
    transform: translate(0, 100%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_item .text_content .description {
    margin: 0;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    transition: transform 0.3s ease;
    transform: translate(0, 200%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content_list .list_item,
.aside_list .list_item {
    position: relative;
    overflow: hidden;
}

.aside_info {
    flex: 0 0 22.5%;
}

.aside_info.fixed {
    position: fixed;
    top: 80px;
    width: 270px;
}

.aside_info .aside_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    height: 425px;
}

.aside_info .aside_list .list_item {
    display: block;
    flex: 0 0 22.5%;
    width: 90%;
    background-color: lightcyan;
    border-radius: 16px;
    box-shadow: 0 4px 20px 0 #999;
    box-sizing: border-box;
}

.aside_list .list_item .text_content .item_title {
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    margin: 0.25rem 0;
}

.aside_list .list_item .text_content .description {
    font-size: 12px;
}