.visually_hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

noscript {
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

.side_func {
    position: fixed;
    right: 5px;
    bottom: 20%;
    z-index: 1;
}

.side_func .to_top {
    box-shadow: 0px 0px 10px 0px #3dc0e7;
    font-size: 0;
    width: 32px;
    height: 32px;
    border: 0;
    background-color: white;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding: 1rem;
}

.filter {
    width: 100%;
}

.filter:nth-child(1) {
    border-top: 1px solid #eee;
}

.filter_block {
    display: flex;
    align-items: center;
    width: 100%;
}

.sort {
    width: 100%;
}

.filter_block,
.sort_block {
    border-bottom: 1px solid #eee;
}

.filter_block .block_title {
    color: #999;
    margin: 1rem;
    min-width: 3em;
    font-size: 14px;
    font-weight: normal;
}

.filter_block .block_title::after {
    content: ":";
}

.list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0;
    width: auto;
    list-style-type: none;
    font-size: 14px;
}

.list .list_item {
    margin-right: 3rem;
}

.list .list_item .list_btn {
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.list .list_item .list_btn:hover,
.list .list_item .list_btn:focus {
    color: #3dc0e7;
}

.list .list_item .list_btn.active {
    color: white;
    background-color: #3dc0e7;
}

.info {
    margin-top: 80px;
    width: 100%;
}

.info_list {
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
}

.info_list .list_item {
    position: relative;
    padding: 0.25rem;
    border-bottom: 1px solid #eee;
    transition: background-color 0.1s ease;
}

.info_list .list_item .item_link {
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
}

.info_list .list_item:hover,
.info_list .list_item:focus {
    background-color: #eee;
}

.info_list .list_item .item_title {
    width: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    line-height: 1.5;
    font-size: 16px;
    font-weight: normal;
}

.info_list .list_item .item_title.hot::before {
    content: "热门";
    color: rgb(255, 156, 126);
    width: 2rem;
    padding: 2px 0.25rem;
    font-size: 12px;
    background-color: rgb(255, 239, 234);
    border-radius: 4px;
}

.info_list .list_item .item_brief {
    color: #999;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    font-size: 14px;
}

.info_list .list_item .item_brief .brief_item::after {
    content: "|";
    padding: 0 0.5rem;
}

.info_list .list_item .item_brief .brief_item:last-child::after {
    content: none;
}

.info_list .list_item .revenue {
    color: #999;
    position: absolute;
    right: 30%;
    top: 15%;
    font-size: 14px;
}

.info_list .list_item .revenue .num_decorated {
    color: #feb400;
    font-size: 16px;
}

.info_list .list_item .revenue.certified::after {
    content: "认证";
    color: #feb400;
    position: absolute;
    top: 2rem;
    left: 0;
    padding: 0 4px;
    border-radius: 12px;
    font-size: 12px;
    background-color: rgb(255, 243, 220);
    border: 1px solid #feb400;
}

.select_page_list {
    align-self: flex-start;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5em;
    height: 2.5em;
    background-color: #eee;
    border-radius: 2em;
    box-sizing: border-box;
}

.select_page_list .list_item {
    margin-right: 0.5em;
}

.select_page_list .list_item:last-child {
    margin-right: 0;
}

.select_page_list .list_item .list_btn {
    color: #333;
    border: 0;
    height: 2em;
    width: 2em;
    border-radius: 2em;
    transition: background-color 0.15s ease;
    outline: none;
}

.select_page_list .list_item .list_btn:hover,
.select_page_list .list_item .list_btn.active {
    background-color: #ccc;
}

.select_page_list .list_item .list_btn:active {
    background-color: #bbb;
}