.catagory_btn {
    display: none;
}

@media (max-width: 950px) {
    .list.catagory_list {
        z-index: 2;
        position: fixed;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        bottom: -216px;
        left: 0;
        width: 100vw;
        height: 200px;
        margin: 0;
        padding: 0.5rem;
        background-color: orange;
        transition: transform 0.3s ease;
        transform: translate(0, 0);
    }

    .list.catagory_list.show {
        display: flex;
        transform: translate(0, -100%);
    }
    
    .list.catagory_list .list_item {
        margin-right: 0;
    }
    
    .catagory_btn {
        display: block;
    }
}